!!!
%html
  %head
    %title RevealDown
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "highlight/github", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{class: [controller.controller_name, controller.action_name]}
    %nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Reveal Down
    %section.container-fluid.flashes{data: {behavior: "flash"}}
      - flash.each do |key, value|
        %div{class: ["flash", "alert-block", "alert", "#{key}"]}
          = value
          .close x
    %article.container-fluid
      = yield